
body
{
    font-family: "Montserrat", "sans-serif";
}


    .navbar {
        padding: 10px;
        margin-top: 14px;
        margin-bottom: 60px;
        background-color: rgb(215, 215, 224);
    }

    .navbar ul {
        display: inline-flex;
        position: relative;
        left: 70%;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .navbar li {
        margin: 0 15px;
    }

    .navbar a {
        color: #150101;
        text-decoration: none;
        font-weight: 600;
        font-size: 30px;
    }

    .navbar a:hover {
        border-radius: 10px;
        color: black;
        background-color: rgba(193, 200, 243, 0.842);
        box-shadow: 0 0 10px rgb(0, 0, 255, 0.1),
        0 0 20px rgb(0, 0, 255),
        0 0 20px rgb(0, 0, 255);
    }

    @media (max-width: 600px) 
{
    .navbar {
        width: 100%;
        background-color: rgb(215, 215, 224);
    }

    .navbar ul
    {
        display: inline-flex;
        position: relative;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

}